<div class="immobile">
  <a href=[+permalink+]><div class="immobile__image" style="background: url('[+full+]') no-repeat center center; background-size: cover; -webkit-background-size:cover; -moz-background-size: cover; -o-background-size:cover; height: 250px;">
    </div>
  </a>
    <div class="immobile__info" style="height: 150px;">
      <span class="immobile__title"><a href=[+permalink+]>[+title+]</a></span>
    </div>
    <div class="immobile__info__dettagli">
      <span class="immobile__area">m<sup>2</sup> [+immobile_area+]</span>
      <span class="immobile__prezzo">€ [+immobile_prezzo+]</span>
    </div>
</div>